
.container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(3, 8, 24, 0),rgba(3,8,24,0.7)),url(https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701918448.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 85%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 80px;
    cursor: pointer;
}

.menubar {
    width: 80px;
    cursor: pointer;
}

.menubar:hover {
    opacity: 0.3;
    transition: 0.5s;
}

.header-text {
    width: 80%;
    color: white;
    background-color: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transforM: translate(-50%,-50%);
}

.header-text h1 {
    font-size: 38px;
}

.header-text p {
    margin: 8px 0 32px;
    font-size: 14px;
    color: white;
}

.header-btn {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    padding: 12px 34px;
    border: 1px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.header-btn:hover {
    background: #0f142a;
    border: 1px solid #0f142a;
    transition: 0.9s;
}

/* section one */


td {
    padding: 10px;
    border: 1px solid black;
}

